@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:black;
  font-weight:300;
}

#last_text_scanned {
  font-size: 20pt;
  font-weight: bold;
  position: absolute;
  bottom: 100px;
  left: 50%;
  color: yellow;
}